:root {
  --background-color: #1d2b3a;
  --border-color: aqua;
  --light-color: #03c8f4;
  --form-text-color: #fff;
  --normal-color: rgba(255, 255, 255, 0.25);
}

.box-form {
  height: 100%;
  margin-top: 15rem;
  font-size: 1.3rem;
  background-color: #1d2b3a;
  padding: 50px;
  border-radius: 15px;
}

h1 {
  font-size: 4rem;
}

.form__main {
  margin-top: 40px;
}

.form-input label {
  position: absolute;
  color: var(--form-text-color);
  margin-top: -35px;
  font-size: 1.5rem;
}

.form-input {
  display: flex;
  position: relative;
  width: 100%;
  padding: 30px 0;
}

.form-input input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid var(--normal-color);
  background: var(--background-color);
  outline: none;
  color: var(--form-text-color);
  transition: 0.5s;
}

.form-input input:valid,
.form-input input:focus {
  border: 2px solid var(--border-color);
  box-shadow:
    0 0 3px var(--light-color),
    0 0 6px var(--light-color),
    0 0 9px var(--light-color);
}

.form-input span {
  position: absolute;
  color: var(--normal-color);
  padding: 6px;
  left: 0;
  margin-top: 2px;
  pointer-events: none;
  transition: 0.5s;
  text-transform: uppercase;
}

.form-input input:valid~span,
.form-input input:focus~span {
  color: var(--border-color);
  transform: translateX(6px) translateY(-8px);
  padding: 0 6px;
  font-size: 9px;
  background: var(--background-color);
  border-left: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
}

.group__btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.group__btn .form__butn {
  width: 100px;
  height: 20px;
  color: #fff;
  margin: 0 50px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  font-size: 1.2rem;
  background: var(--background-color);
  border-left: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
}

.group__btn .form__butn.active {
  background-color: #03c8f4;
  border: 2px solid var(--border-color);
  box-shadow:
    0 0 3px var(--light-color),
    0 0 6px var(--light-color),
    0 0 9px var(--light-color);
}

.form__img {
  margin-top: 15rem;
  border-radius: 20px;
  background: linear-gradient(to right, #dde6ed, #edf4f8);
}

.form__img img {
  width: 650px;
  position: relative;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.form__radio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  position: relative;
  transform: translateY(50%);
  height: 100%;
  margin-left: 10%;
}

.form__radio .radio-label {
  position: relative;
  left: 60%;
  transform: translateX(-50%) translateY(100%);
}

input[type='radio']::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d1d3d1;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0494fb;
  visibility: visible;
  border: 2px solid white;
}

.form__radio-other {
  display: none;
  position: absolute;
  width: 100%;
  top: 80%;
  z-index: 1;
  transition: 1s;
}

.form__checkbox{
  width: 15px;
  height: 15px;
}

.checkbox-label {
  position: relative;
  top: 100%;
  left: 20px;
  transform: translateY(-60%);
}

.from-confirm {
  margin-top: -5%;
}