/* Big Screen */
@media (min-width: 1920px){

}

/* PC */
@media (min-width: 1024px){
    .navbar-mobile {
        display: none;
    }

    .subscribe-section {
        margin-bottom: -200px;
    }

    .footer-section {
        padding-top: 130px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1024px){
    .subscribe-section::after {
        display: none;
    }
}

/* Small Tablet */
@media(max-width: 912px){
    .header__logo-link img{
        width: 80%;
    }
    
    .user,
    .navbar-list{
        display: none;
    }

    .navbar-mobile {
        margin-left: auto;
    }

    .self-health-tips__header .sub-title{
        max-width: 100%;
    }

    .subscribe-section {
        clip-path: none;
    }

    .subscribe-section::after {
        display: none;
    }

    .subscribe-section__content {
        justify-content: center;
    }

    .contact-map{
        padding: 0;
    }
}

/* Mobile */
@media(max-width: 782px){

}