.self-health-tips{
    background-color: var(--black-general);
}

.self-health-tips__header{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.self-health-tips__heading{
    font-size: 4rem;
}

.sub-title{
    color: var(--white-general);
    font-size: 1.6rem;
    max-width: 50%;
}

.self-health-tips__video{
    padding: 64px 0;
    text-align: center;
}